@import url("~leaflet/dist/leaflet.css");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.root{
  display: flex;
  flex-direction: row;
}

.offers-container {
  width: 50%;
  height: 100vh;
}
.leaflet-container {
  width: 50%;
  height: 100vh;
}
.single-offer-container{
  padding: 0 1vh 0.5vh 1vh;
  height: 100vh;
}
.border-all-around{
  border: 1px solid red;
}
.single-offer-image{
  width: 8vw;
  height: 6vw;
}